#wpsearchtext{
    height:24px;
}
#wpsearchsubmit{
    padding:0 7px;
    height: 26px;
    line-height: 26px;
    margin-top: 3px;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    min-height: auto;
}
#wpsearchtype{
    height:24px;
    margin-top: -4px
}
#wp-admin-bar-wp_search_field .ui-autocomplete{
    width: 300px !important;
    overflow: scroll;
    max-height: 300px;
}
ul#wp-admin-bar-top-secondary {
    background: #000;
}

#wp-admin-bar-wp_search_field input#wpsearchtext {
    padding: 0 10px;
    border-radius: 0;
    overflow: hidden;
    margin-left: 5px;
}
#wp-admin-bar-wp_search_field #wpsearchfrm > *{
    float:left;
    margin-top: 4px;
    min-height: 100%;
}
select#wpsearchtype, select#wpsearchtype * {
    padding: 0 20px 0px 10px;
    line-height: 100%;
}